# Ignore build, install, and log inside data_collection_ws
data_collection_ws/build
data_collection_ws/install
data_collection_ws/log
config/config.local.yaml
# Ignore temporary files
.vscode/
.DS_Store
*.swp
